<div class="mobile-nav">
    <div class="close-menu">
        <i class="fas fa-times"></i>
    </div>
    <ul>
        <li><a href="#inicio" class="mobile-link">Inicio</a></li>
        <li><a href="#servicios" class="mobile-link">Servicios</a></li>
        <li><a href="#nosotros" class="mobile-link">Nosotros</a></li>
        <li><a href="#galeria" class="mobile-link">Galería</a></li>
        <li><a href="#testimonios" class="mobile-link">Testimonios</a></li>
        <li><a href="#contacto" class="mobile-link">Contacto</a></li>
    </ul>
</div>