<header>
    <div class="header-container">
        <div class="logo">
            <span class="logo-icon"><i class="fas fa-spa"></i></span>
            <a href="{{ url_for('inicio') }}" class="nav-logo"><h1><strong>The Maky Look</strong></h1></a>
        </div>
        <nav>
            <div class="menu-icon" onclick="toggleMenu()">☰</div>
            <div class="nav-links">
                <a href="#inicio">Inicio</a>
                <a href="#servicios">Servicios</a>
                <a href="#nosotros">Nosotros</a>
                <a href="#galeria">Galería</a>  
                <a href="#testimonios">Testimonios</a>
                <a href="#contacto">Contacto</a>
            </div>
        </nav>
    </div>
</header>   