<div class="testimonial-container">
    <div class="testimonial">
        <div class="client-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/testimonios/badd7a7caffe12de3a7f7f1c8a2fd7a1.jpg?updatedAt=1746483854041" alt="Foto de cliente">
        </div>                            
        <p>"El mejor salón de belleza que he visitado. Profesionales, amables y con un trabajo impecable. Mi manicura duró más de dos semanas. ¡Totalmente recomendable!"</p>
        <p class="client-name">Laura Martínez</p>
    </div>
    <div class="testimonial">
        <div class="client-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/testimonios/c3ddf9a1b5e23344556677889900ffaa.jpg?updatedAt=1746483854070" alt="Foto de cliente">
        </div>
        <p>"Me encanta el ambiente del salón, muy acogedor y siempre limpio. El diseño que me hicieron para una boda fue precioso, recibí muchos cumplidos."</p>
        <p class="client-name">Carmen Rodríguez</p>
    </div>
    <div class="testimonial">
        <div class="client-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/testimonios/b2e4d3f789a1cdef4567ab9087cdef12.jpg?updatedAt=1746483853904" alt="Foto de cliente">
        </div>
        <p>"Me hice un tratamiento facial por primera vez y fue una experiencia maravillosa. Mi piel quedó radiante y la esteticista me aconsejó muy bien sobre el cuidado diario."</p>
        <p class="client-name">Ana López</p>
    </div>
    <div class="testimonial">
        <div class="client-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/testimonios/f00d11e5daff6e891f9a0c2d1c23b9bc.jpg?updatedAt=1746483853852" alt="Foto de cliente">
        </div>
        <p>"Excelente atención y puntualidad. Siempre salgo con una sonrisa y mis uñas perfectas. ¡Gracias por tanto amor en cada detalle!"</p>
        <p class="client-name">Valentina Pérez</p>
    </div>
    <div class="testimonial">
        <div class="client-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/testimonios/badd11dea55f00dc011d00b00bee11ef.jpg?updatedAt=1746483853828" alt="Foto de cliente">
        </div>
        <p>"Fui por recomendación de una amiga y ahora no cambio de salón. Productos de calidad y diseños únicos."</p>
        <p class="client-name">Don Torres</p>
    </div>
    <div class="testimonial">
        <div class="client-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/testimonios/deadbeefcafe1234567890abcdef1234.jpg?updatedAt=1746483853764" alt="Foto de cliente">
        </div>
        <p>"Me hicieron una pedicura increíble. Súper detallistas y muy profesionales. ¡Volveré sin duda!"</p>
        <p class="client-name">Lucas Fernández</p>
    </div>
    <div class="testimonial">
        <div class="client-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/testimonios/badd10ea9f00d2a4de1c6dbe8a9001ac.jpg?updatedAt=1746483854102" alt="Foto de cliente">
        </div>
        <p>"Nunca había tenido las uñas tan lindas. Me asesoraron sobre formas y colores, ¡y el resultado fue espectacular!"</p>
        <p class="client-name">Hernan García</p>
    </div>
    <div class="testimonial">
        <div class="client-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/testimonios/d0b9e7ee09f64e88db6f9b8aee9fbc99.jpg?updatedAt=1746483856188" alt="Foto de cliente">
        </div>
        <p>"La decoración del salón es preciosa y se nota el cuidado en todo. Ideal para desconectar y mimarte un rato."</p>
        <p class="client-name">Leo Ruiz</p>
    </div>
    <div class="testimonial">
        <div class="client-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/testimonios/beefc0de9876543210abcdef123456789.jpg?updatedAt=1746483854108" alt="Foto de cliente">
        </div>
        <p>"La experiencia fue de 10. Me sentí súper cómoda y relajada. ¡Recomiendo al 100%!"</p>
        <p class="client-name">Camila Núñez</p>
    </div>
    <div class="testimonial">
        <div class="client-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/testimonios/1337abc9defdeadbeefcafef00dbabe.jpg?updatedAt=1746483853926" alt="Foto de cliente">
        </div>
        <p>"Siempre cumplen con lo que prometen. Las uñas me duraron semanas intactas. ¡Profesionalismo total!"</p>
        <p class="client-name">Daniela Morales & Julieta Nuzzi</p>
    </div>
    <div class="testimonial">
        <div class="client-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/testimonios/d3adbeef0987cafeedb8765432ab0ab0b.jpg?updatedAt=1746483853884" alt="Foto de cliente">
        </div>
        <p>"Desde que descubrí este lugar no voy a otro. Se nota que aman lo que hacen y eso se refleja en los resultados."</p>
        <p class="client-name">Alfonso Castro</p>
    </div>                        
</div>