<section class="testimonials" id="testimonios">
    <div class="container">
        <!-- #region título testimonios -->
        <div class="section-title">
            <h2>Testimonios</h2>
        </div>
        <!-- #endregion -->

        <div class="testimonial-slider">
            <!-- #region flechas de navegación -->
            {% include 'partials/_sliderFlechasTest.html' %}
            <!-- #endregion -->

            <!-- #region contenedor de testimonios -->
            {% include 'components/testimonios/testGaleria.html' %}
            <!-- #endregion -->
            
            <!-- #region slider-nav de testimonios -->
            {% include 'partials/_sliderNavTest.html' %} 
            <!-- #endregion -->                  
        </div>
    </div>
</section>