<div>
    <h3 class="text-xl font-semibold mb-4 text-white"><strong>Seguinos</strong></h3>
    <div class="flex flex-col space-y-2">
        <a href="https://www.instagram.com/jazmin_estetica_y_masajes/" target="_blank" class="hover:text-pink-600 text-gray-700">
        <i class="bi bi-instagram text-2xl"></i><strong> Instagram </strong>
        </a>
        <a href="https://www.facebook.com/macarena.santanayahari.9" target="_blank" class="hover:text-blue-600 text-gray-700">
        <i class="bi bi-facebook text-2xl"></i><strong> Facebook </strong>
        </a>
        <a href="https://wa.me/5491138684769?text=Hola%20Macarena%2C%20me%20gustar%C3%ADa%20reservar%20una%20cita%20para%20un%20servicio%20de%20belleza.%20%C2%BFPodr%C3%ADas%20contarme%20sobre%20la%20disponibilidad%20y%20los%20horarios%3F%20Gracias%21" target="_blank" class="hover:text-green-500 text-gray-700">
        <i class="bi bi-whatsapp text-2xl"></i><strong> WhatsApp </strong>
        </a>
    </div>
</div>