<div class="gallery-container">
    <div class="gallery-item">
        <div class="gallery-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/gallery-container/masaje_relax.png?updatedAt=1746500167437" alt="Masaje Relax">
        </div>
    </div>
    <div class="gallery-item">
        <div class="gallery-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/gallery-container/manicura_u%C3%B1as.png?updatedAt=1746500167196" alt="manicura uñas">
        </div>
    </div>
    <div class="gallery-item">
        <div class="gallery-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/gallery-container/masaje_facial.png?updatedAt=1746500167084" alt="mesaje facial">
        </div>
    </div>
    <div class="gallery-item">
        <div class="gallery-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/gallery-container/cervico_craneal.png?updatedAt=1746500166586" alt="cervico_craneal.png">
        </div>
    </div>
    <div class="gallery-item">
        <div class="gallery-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/gallery-container/descontracturante.png?updatedAt=1746500166558" alt="descontracturante">
        </div>
    </div>
    <div class="gallery-item">
        <div class="gallery-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/gallery-container/depilacion_facial.png?updatedAt=1746500167379" alt="depilacion_facial">
        </div>
    </div>
    <div class="gallery-item">
        <div class="gallery-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/gallery-container/Terapeuta_Est%C3%A9tico.png?updatedAt=1746500166696" alt="Terapeuta Estético">
        </div>
    </div>
    <div class="gallery-item">
        <div class="gallery-img">
            <img src="https://ik.imagekit.io/a3f4d2e8b9c1d3f5/The%20Maky%20Look/gallery-container/reductor_reafirmante.png?updatedAt=1746500166333" alt="Reductor/Reafirmante">
        </div>
    </div>
</div>