<section class="contact" id="contacto">
    <div class="container">
        <!-- #region título contacto -->
        <div class="section-title">
            <h2>Contacto</h2>
        </div>
        <!-- #endregion -->

        <div class="contact-container">
            <!-- #region info de contacto -->
            {% include 'components/contacto/infoContacto.html' %}
            <!-- #endregion -->

            <!-- #region formulario de contacto -->
            {% include 'partials/forms/envianosUnMens.html' %}
            <!-- #endregion -->
        </div>
    </div>
</section>