<div>
    <h3 class="text-xl font-semibold mb-4 text-white"><strong>Navegación</strong></h3>
    <ul class="space-y-2">
        <li><a href="#inicio" class="hover:underline"><strong>Inicio</strong></a></li>
        <li><a href="#servicios" class="hover:underline"><strong>Servicios</strong></a></li>
        <li><a href="#nosotros" class="hover:underline"><strong>Nosotros</strong></a></li>
        <li><a href="#galeria" class="hover:underline"><strong>Galería</strong></a></li>
        <li><a href="#testimonios" class="hover:underline"><strong>Testimonios</strong></a></li>
        <li><a href="#contacto" class="hover:underline"><strong>Contacto</strong></a></li>
    </ul>
</div>